:root {
    --body-width: 768px;
    --section-params-vertical-margin: 1em;
    --section-siblings-vertical-margin: calc(var(--section-params-vertical-margin) / 2);
    --section-rows-vertical-margin: 1.7em;
    --row-subtitle-color: #555;
    --row-subtitle-font-size: 0.9em;
}

html {
    font-family: 'Roboto', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
    background: white;
    transition: all 0.2s ease-out;
    padding: 1.6em calc((100% - var(--body-width)) / 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header[sticky] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.078);
    box-shadow: 0 2px 5px #ccc;
}

header .contact-buttons {
    display: flex;
    align-items: center;
    transition: opacity 0.2s linear;
    opacity: 0;
    pointer-events: none;
}
header[sticky] .contact-buttons {
    opacity: 1;
    pointer-events: all;
}
header .contact-buttons > a {
    display: block;
    user-select: none;
    margin-left: var(--section-params-vertical-margin);
}
header .contact-buttons > a > i {
    display: block;
    font-size: 1.6em;
}

h1 {
    font-weight: 100;
    font-size: 2em;
    margin: 0;
}
h2 {
    font-size: 1.3em;
    font-weight: 400;
    margin: calc(var(--section-rows-vertical-margin) * 0.7) 0;
}
h3 {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 0 var(--section-siblings-vertical-margin) 0;
}
h4 {
    font-weight: 100;
    font-size: 1.3em;
    margin: 0 0 calc(var(--section-siblings-vertical-margin) / 5) 0;
}

a {
    text-decoration: none;
    color: #0069c5;
}

article {
    max-width: var(--body-width);
    margin: 1.4em auto;
    padding-bottom: 25vh;
}

section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.078);
    background: white;
}
section:last-of-type {
    border: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section > .contents {
    display: none;
}
section[expanded] > .contents {
    display: block;
}

section > ul.contents > li {
    animation-duration: 250ms;
    animation-delay: calc((var(--i) - 1) * 70ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}
section[expanded] > ul.contents > li {
    animation-name: animateIn;
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: translateX(32px);
    }

    100% {
        opacity: 1;
    }
}

section > h2:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0 calc(var(--section-rows-vertical-margin) * 0.7 * -1);
    padding: calc(var(--section-rows-vertical-margin) * 0.7);
    transition: background-color 0.2s linear;
}
section[expanded] > h2:first-of-type {
    margin-bottom: calc(var(--section-rows-vertical-margin) * 0.7);
}
section > h2:first-of-type:hover {
    background: #efefef61;
}

section > h2:first-of-type:after {
    content: '';
    margin-right: calc(var(--section-rows-vertical-margin) * 0.35);
    display: inline-block;
    vertical-align: top;
    border-style: solid;
    border-width: 0.12em 0.12em 0 0;
    border-color: var(--row-subtitle-color);
    height: 0.55em;
    width: 0.55em;
    transform: rotate(135deg);
    position: relative;
    left: 0.15em;
    bottom: 0.12em;
    transition: transform 0.2s ease-in-out, position 0.2s ease-in-out;
}
section[expanded] > h2:first-of-type:after {
    bottom: 0;
    transform: rotate(-45deg);
}

.material-icon, a[target="_blank"]:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

/* Personal info */
.param {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: var(--section-params-vertical-margin) 0;
}
.param-name {
    font-weight: 200;
}
.param-value {
    margin-left: auto;
}

/* Specific link types */
.telegram-link {
    vertical-align: middle;
}
.telegram-link > img {
    margin-left: var(--section-siblings-vertical-margin);
    width: 16px;
    height: 16px;
}

.mail-link {
    margin: 0 0.25em;
}

.profile-link {
    margin-left: var(--section-siblings-vertical-margin);
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}
.profile-link > img {
    max-width: 100%;
    max-height: 100%;
}
svg.octicon {
    width: 1.2em;
    height: 1.5em;
}
svg.octicon > path {
    fill: black;
}

/* Education section */
.education-row {
    margin: 0 0 calc(var(--section-rows-vertical-margin) * 2) 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.education-degree {
    margin: 0;
    font-weight: 500;
}
.education-university {
    text-align: right;
    flex: 1;
}
.education-years {
    color: #777777;
    display: block;
    font-size: 0.8em;
    margin-left: var(--section-siblings-vertical-margin);
}
.education-graduation-project {
    color: var(--row-subtitle-color);
    font-size: var(--row-subtitle-font-size);
    margin: var(--section-siblings-vertical-margin) 0 0 0;
    flex: 0 0 100%;
}

/* Work experience section */
.work-row {
    display: flex;
    margin: 0 0 calc(var(--section-rows-vertical-margin) * 2) 0;
}
.work-prefix {
    flex: 0 0 120px;
}
.work-info {
    flex: 1;
}
.work-prefix > div, .work-info > div {
    margin-bottom: var(--section-siblings-vertical-margin);
}
.work-company-logo {
    width: 100px;
}
.work-company-logo > img {
    max-width: 100%;
}
.work-period {
    color: var(--row-subtitle-color);
    font-size: calc(var(--row-subtitle-font-size) * 0.9);
}
.work-duration {
    color: var(--row-subtitle-color);
    font-size: calc(var(--row-subtitle-font-size) * 0.8);
}
.work-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.work-url {
    font-size: 1em;
}
a.work-url:before {
    font-size: 1em;
    content: 'launch';
    vertical-align: middle;
    margin-right: calc(var(--section-siblings-vertical-margin) / 2);
}
.work-info > .work-company-extra {
    color: var(--row-subtitle-color);
    font-size: calc(var(--row-subtitle-font-size) * 0.9);
    margin: 0 0 var(--section-siblings-vertical-margin) 0;
}
.work-description {
    flex: 1 0 100%;
    color: var(--row-subtitle-color);
    font-size: var(--row-subtitle-font-size);
}

/* Skills list */
section > .skills-list.contents {
    flex-wrap: wrap;
    margin: 0 0 var(--section-rows-vertical-margin) 0;
}
section[expanded] > .skills-list.contents {
    display: flex;
}

.skills-list > li {
    flex: 0 1 160px;
    border-radius: 0.3em;
    background: #fbfbfb;
    padding: var(--section-siblings-vertical-margin);
    margin: var(--section-siblings-vertical-margin);
    box-shadow: 0 0 2px #ccc;
}
.skills-list .skill {
    display: block;
    font-weight: 600;
}
.skills-list .subtitle {
    color: var(--row-subtitle-color);
    font-size: var(--row-subtitle-font-size);
}

/* Projects list */
.project {
    display: flex;
    margin: calc(var(--section-rows-vertical-margin) * 2) 0;
}
.project-prefix {
    width: 95px;
}
.project-logo {
    position: relative;
    margin-bottom: var(--section-params-vertical-margin);
}
.project-logo > img {
    max-width: 60px;
    border-radius: 14px;
}
.project-logo.multilogo {
    margin-bottom: 90px;
}
.project-logo.multilogo > img {
    max-width: 50px;
    position: absolute;
}
.project-logo.multilogo > .logo-1 {
    top: -15px;
    left: -15px;
    z-index: 1;
}
.project-logo.multilogo > .logo-2 {
    top: -5px;
    left: -5px;
    z-index: 2;
}
.project-logo.multilogo > .logo-3 {
    top: 5px;
    left: 5px;
    z-index: 3;
}
.project-logo.multilogo > .logo-4 {
    top: 15px;
    left: 15px;
    z-index: 4;
}
.project-logo.multilogo > .logo-5 {
    top: 25px;
    left: 25px;
    z-index: 5;
}
.project-stack {
    font-size: var(--row-subtitle-font-size);
    color: var(--row-subtitle-color);
}
.project-stack > li {
    margin: 0 0 var(--section-siblings-vertical-margin) 0;
}
.project-info {
    flex: 1;
}
.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-title {
    font-size: 1.1em;
    font-weight: 500;
}
.project-copyright {
    color: var(--row-subtitle-color);
}
.project-info > p {
    font-size: var(--row-subtitle-font-size);
}
.project-info > .project-urls-title, .project-urls {
    font-size: calc(var(--row-subtitle-font-size) * 0.9);
}
.project-urls a[target="_blank"]:before {
    font-size: 14px;
    content: 'launch';
    vertical-align: middle;
    margin-right: calc(var(--section-siblings-vertical-margin) / 2);
}