/// (c) Evgenii Dobrovidov, 2020

// We could've used SASS variables, but they cannot be changed with @media-queries, so CSS custom properties FTW
:root {
  --body-width: 768px;
  --section-params-vertical-margin: 1em;
  --section-siblings-vertical-margin: calc(var(--section-params-vertical-margin) / 2);
  --section-rows-vertical-margin: 1.7em;
  --row-subtitle-color: #555;
  --row-subtitle-font-size: 0.9em;
}

@mixin external-url {
  content: 'launch';
  vertical-align: middle;
  margin-right: calc(var(--section-siblings-vertical-margin) / 2);
}

html {
  font-family: 'Roboto', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
  background: white;
  transition: all 0.2s ease-out;
  padding: 1.6em calc((100% - var(--body-width)) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .contact-buttons {
    display: flex;
    align-items: center;
    transition: opacity 0.2s linear;
    opacity: 0;
    pointer-events: none;

    > a {
      display: block;
      user-select: none;
      margin-left: var(--section-params-vertical-margin);

      > i {
        display: block;
        font-size: 1.6em;
      }
    }
  }

  &[sticky] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.078);
    box-shadow: 0 2px 5px #ccc;

    .contact-buttons {
      opacity: 1;
      pointer-events: all;
    }
  }
}

h1 {
  font-weight: 100;
  font-size: 2em;
  margin: 0;
}
h2 {
  font-size: 1.3em;
  font-weight: 400;
  margin: calc(var(--section-rows-vertical-margin) * 0.7) 0;
}
h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 0 0 var(--section-siblings-vertical-margin) 0;
}
h4 {
  font-weight: 100;
  font-size: 1.3em;
  margin: 0 0 calc(var(--section-siblings-vertical-margin) / 5) 0;
}

a {
  text-decoration: none;
  color: #0069c5;
}

article {
  max-width: var(--body-width);
  margin: 1.4em auto;
  padding-bottom: 25vh;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.078);
  background: white;

  &:last-of-type {
    border: none;
  }

  > .contents {
    display: none;
  }
  &[expanded] > .contents {
    display: block;
  }

  > ul.contents > li {
    animation-duration: 250ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

    @for $i from 1 to 21 {
      &:nth-child(#{$i}) {
        animation-delay: ($i - 1) * 70ms;
      }
    }
  }
  &[expanded] > ul.contents > li {
    animation-name: animateIn;
  }

  > h2:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 0 calc(var(--section-rows-vertical-margin) * 0.7 * -1);
    padding: calc(var(--section-rows-vertical-margin) * 0.7);
    transition: background-color 0.2s linear;

    &:hover {
      background: #efefef61;
    }

    &:after {
      content: '';
      margin-right: calc(var(--section-rows-vertical-margin) * 0.35);
      display: inline-block;
      vertical-align: top;
      border-style: solid;
      border-width: 0.12em 0.12em 0 0;
      border-color: var(--row-subtitle-color);
      height: 0.55em;
      width: 0.55em;
      transform: rotate(135deg);
      position: relative;
      left: 0.15em;
      bottom: 0.12em;
      transition: transform 0.2s ease-in-out, position 0.2s ease-in-out;
    }
  }
  &[expanded] > h2:first-of-type {
    margin-bottom: calc(var(--section-rows-vertical-margin) * 0.7);

    &:after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

@keyframes animateIn {
  0% {
      opacity: 0;
      transform: translateX(32px);
  }

  100% {
      opacity: 1;
  }
}

.material-icon, a[target="_blank"]:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

/* Personal info */
.param {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: var(--section-params-vertical-margin) 0;

  &-name {
    font-weight: 200;
  }

  &-value {
    margin-left: auto;
  }
}

/* Specific link types */
.telegram-link {
  vertical-align: middle;

  > img {
    margin-left: var(--section-siblings-vertical-margin);
    width: 16px;
    height: 16px;
  }
}

.mail-link {
  margin: 0 0.25em;
}

.profile-link {
  margin-left: var(--section-siblings-vertical-margin);
  display: inline-block;
  width: 1.5em;
  height: 1.5em;

  > img {
    max-width: 100%;
    max-height: 100%;
  }
}

svg.octicon {
  width: 1.2em;
  height: 1.5em;

  > path {
    fill: black;
  }
}

/* Education section */
.education {
  &-row {
    margin: 0 0 calc(var(--section-rows-vertical-margin) * 2) 0;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  &-degree {
    margin: 0;
    font-weight: 500;
  }

  &-university {
    text-align: right;
    flex: 1;
  }

  &-years {
    color: #777777;
    display: block;
    font-size: 0.8em;
    margin-left: var(--section-siblings-vertical-margin);
  }

  &-graduation-project {
    color: var(--row-subtitle-color);
    font-size: var(--row-subtitle-font-size);
    margin: var(--section-siblings-vertical-margin) 0 0 0;
    flex: 0 0 100%;
  }
}

/* Work experience section */
.work {
  $top: &;

  &-row {
    display: flex;
    margin: 0 0 calc(var(--section-rows-vertical-margin) * 2) 0;
  }

  &-prefix {
    flex: 0 0 120px;
  }
  &-info {
    flex: 1;

    > #{$top}-company-extra {
      color: var(--row-subtitle-color);
      font-size: calc(var(--row-subtitle-font-size) * 0.9);
      margin: 0 0 var(--section-siblings-vertical-margin) 0;
    }
  }
  &-prefix > div, &-info > div {
    margin-bottom: var(--section-siblings-vertical-margin);
  }

  &-company-logo {
    width: 100px;

    > img {
      max-width: 100%;
    }
  }

  &-period {
    color: var(--row-subtitle-color);
    font-size: calc(var(--row-subtitle-font-size) * 0.9);
  }
  &-duration {
    color: var(--row-subtitle-color);
    font-size: calc(var(--row-subtitle-font-size) * 0.8);
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-url {
    font-size: 1em;

    &:before {
      @include external-url;
      font-size: 1em;
    }
  }

  &-description {
    flex: 1 0 100%;
    color: var(--row-subtitle-color);
    font-size: var(--row-subtitle-font-size);
  }
}


/* Skills list */
section {
  > .skills-list.contents {
    flex-wrap: wrap;
    margin: 0 0 var(--section-rows-vertical-margin) 0;
  }

  &[expanded] > .skills-list.contents {
    display: flex;
  }
}

.skills-list {
  > li {
    flex: 0 1 160px;
    border-radius: 0.3em;
    background: #fbfbfb;
    padding: var(--section-siblings-vertical-margin);
    margin: var(--section-siblings-vertical-margin);
    box-shadow: 0 0 2px #ccc;
  }

  .skill {
    display: block;
    font-weight: 600;

    .subtitle {
      color: var(--row-subtitle-color);
      font-size: var(--row-subtitle-font-size);
    }
  }
}

/* Projects list */
.project {
  display: flex;
  margin: calc(var(--section-rows-vertical-margin) * 2) 0;

  &-prefix {
    width: 95px;
  }
  &-logo {
    position: relative;
    margin-bottom: var(--section-params-vertical-margin);

    > img {
      max-width: 60px;
      border-radius: 14px;
    }

    &.multilogo {
      margin-bottom: 90px;

      > img {
        max-width: 50px;
        position: absolute;
      }

      @for $i from 0 to 5 {
        > .logo-#{$i + 1} {
          top: -15px + $i * 10;
          left: -15px + $i * 10;
          z-index: 1 + $i;
        }
      }
    }
  }

  &-stack {
    font-size: var(--row-subtitle-font-size);
    color: var(--row-subtitle-color);

    > li {
      margin: 0 0 var(--section-siblings-vertical-margin) 0;
    }
  }

  &-info {
    flex: 1;

    > p {
      font-size: var(--row-subtitle-font-size);
    }

    $urls-font-size: calc(var(--row-subtitle-font-size) * 0.9);
    > .project-urls-title {
      font-size: $urls-font-size;
    }

    .project-urls {
      font-size: $urls-font-size;

      a[target="_blank"]:before {
        @include external-url;
        font-size: 14px;
      }
    }
  }
  &-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    font-size: 1.1em;
    font-weight: 500;
  }
  &-copyright {
    color: var(--row-subtitle-color);
  }
}
