/// (c) Evgenii Dobrovidov, 2020

$max-body-width: 768px;
$section-params-vertical-margin: 1em;
$section-siblings-vertical-margin: $section-params-vertical-margin / 2;
$section-rows-vertical-margin: 1.7em;
$row-subtitle-color: #555;
$row-subtitle-font-size: 0.9em;
