/// (c) Evgenii Dobrovidov, 2020

$max-body-width: 768px;

$article-border-radius: 5px;

$row-subtitle-font-size: 0.9em;
$row-subtitle-font-size-small: $row-subtitle-font-size * 0.9;

$section-horizontal-padding: 40px;
$section-params-vertical-margin: 16px;

$section-siblings-vertical-margin: $section-params-vertical-margin / 2;

$section-rows-vertical-margin: $section-params-vertical-margin * 1.7;
$section-rows-vertical-margin-small: $section-rows-vertical-margin * 0.7;
$section-rows-vertical-margin-big: $section-rows-vertical-margin * 2;

$parallax-overlay-color-light: #ffffffe8;
$background-color-light: #fff;
$text-color-light: #000;
$text-secondary-color-light: #555;
$anchor-color-light: #0069c5;
$surface-color-light: #fbfbfb;
$surface-shadow-color-light: #ccc;
$surface-hover-color-light: #efefef61;
$border-color-light: rgba(0, 0, 0, 0.078);
$header-shadow-color-light: #e7e7e7;

$parallax-overlay-color-dark: #2e2e2eed;
$background-color-dark: #2e2e2e;
$text-color-dark: #fff;
$text-secondary-color-dark: #c7c7c7;
$anchor-color-dark: #ffd0b1;
$surface-color-dark: #424242;
$surface-shadow-color-dark: #7a7a7a;
$surface-hover-color-dark: #25252561;
$border-color-dark: rgba(0, 0, 0, 0.078);
$header-shadow-color-dark: #222;
