/// (c) Evgenii Dobrovidov, 2020

@import 'mixins';

header {
  box-sizing: border-box;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media print {
    padding: 1em calc((100% - var(--body-width)) / 2);

    .contact-buttons {
      display: none;
    }
  }

  @media screen {
    padding: 1.6em calc((100% - var(--body-width)) / 2);
    position: sticky;
    top: 0;
    z-index: 10;
    transition: all 0.2s ease-out;

    .contact-buttons {
      display: flex;
      align-items: center;

      > a {
        display: block;
        margin-left: var(--section-params-vertical-margin);

        &.language_selector {
          border-bottom: 1px dashed currentColor;
        }

        &:not(.language_selector) {
          user-select: none;
          transition: opacity 0.2s linear;
          opacity: 0;
          pointer-events: none;
        }

        > i {
          display: block;
          font-size: 1.6em;
        }
      }
    }

    &[sticky] {
      border-bottom: 1px solid rgba(0, 0, 0, 0.078);
      box-shadow: 0 2px 5px #ccc;

      .contact-buttons > a:not(.language_selector) {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  @include narrow-screen-breakpoint {
    padding: 1.6em calc(var(--section-rows-vertical-margin) * 0.7);
  }
}
