/// (c) Evgenii Dobrovidov, 2020

@import "mixins";
@import "vars";

/* Personal info */
.param {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 0 $section-params-vertical-margin 0;

  &-name {
    font-weight: 200;
  }

  &-value {
    margin-left: auto;
    text-align: right;
  }

  $self: &;
  &-profiles {
    > #{$self}-value {
      display: flex;
      align-items: center;
    }
  }
}

/* Specific link types */
.telegram-link {
  vertical-align: middle;

  > img {
    margin-left: $section-siblings-vertical-margin;
    width: 16px;
    height: 16px;
  }
}

.mail-link {
  margin: 0 0 0 0.25em;

  @include narrow-screen-breakpoint {
    margin: 0;
    display: block;
  }
}

.profile-link {
  display: flex;
  justify-content: center;
  margin-left: $section-siblings-vertical-margin;
  width: 1.5em;

  > img {
    height: 1.5em;
    display: block;
  }

  svg.octicon, .linkedin-logo, .npm-logo {
    width: 1.2em;
    height: 1.2em;
  }

  svg.octicon {
    display: block;
    > path {
      fill: var(--text-color);
    }
  }
}
