/// (c) Evgenii Dobrovidov, 2020

/* Skills list */
section {
  > .skills-list.contents {
    margin: 0 0 var(--section-rows-vertical-margin) 0;

    @media screen {
      flex-wrap: wrap;
    }

    @media print {
      display: grid;
      grid-template-columns: auto auto auto;
      column-gap: var(--section-siblings-vertical-margin);
      row-gap: var(--section-siblings-vertical-margin);
    }
  }

  @media screen {
    &[expanded] > .skills-list.contents {
      display: flex;
    }
  }
}

.skills-list {
  > li {
    background: #fbfbfb;
    padding: var(--section-siblings-vertical-margin);

    @media screen {
      margin: var(--section-siblings-vertical-margin);
      flex: 1 1 150px;
      border-radius: 0.3em;
      box-shadow: 0 0 2px #ccc;
    }

    @media print {
      page-break-inside: avoid;
      border: 1px solid #ccc;
    }
  }

  .skill {
    display: block;
    font-weight: 600;
  }

  .subtitle {
    color: var(--row-subtitle-color);
    font-size: var(--row-subtitle-font-size);
  }
}