/// (c) Evgenii Dobrovidov, 2020

@import 'mixins';
@import 'vars';

/* Work experience section */
.work {
  $top: &;

  &-row {
    display: flex;

    margin: 0 0 $section-rows-vertical-margin-big 0;
    @media print {
      margin: 0 0 $section-rows-vertical-margin 0;
      page-break-inside: avoid;
    }
  }

  &-prefix {
    flex: 0 0 120px;
  }
  &-info {
    flex: 1;

    > #{$top}-company-extra {
      color: var(--text-secondary-color);
      font-size: $row-subtitle-font-size-small;
      margin: 0 0 $section-siblings-vertical-margin 0;
    }

    #{$top}-url {
      font-size: 1em;

      &:before {
        @include external-url;
        font-size: 1em;
      }
    }
  }
  &-prefix > div, &-info > div {
    margin-bottom: $section-siblings-vertical-margin;
  }

  &-company-logo {
    display: flex;
    justify-content: center;
    width: 100px;

    > img {
      max-width: 100%;
    }
  }

  &-period {
    color: var(--text-secondary-color);
    font-size: $row-subtitle-font-size-small;
  }
  &-duration {
    color: var(--text-secondary-color);
    font-size: $row-subtitle-font-size-small;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @include narrow-screen-breakpoint {
      display: block;
    }
  }

  &-description {
    flex: 1 0 100%;
    color: var(--text-secondary-color);
    font-size: $row-subtitle-font-size;
  }
}